<!DOCTYPE html>
<html>
  <head>
    <title>Login - Wendy's Pigtails</title>
  </head>
  <body>
    <div id="login-card">
      <header>
        <h1>Login</h1>
      </header>

       <form action="/auth/login" method="post">
        <input type="text" name="username" placeholder="Username" >
        <input type="password" name="password" placeholder="Password" >
        <input type="submit" value="Login">
        <a href="/auth/sign-up" id="signup-btn">Signup Here!</a>
      </form>
    </div>
  </body>
</html>
