<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Poll - Wendy's Pigtails</title>
</head>
<body>
    <form action="/poll/new" method="post">
        <input type="text" name="question" value="Hamburger or Hotdog?">
        <input type="text" name="choice_one" value="Hamburger">
        <input type="text" name="choice_two" value="Hotdog">
        <input type="submit" />
    </form>
</body>
</html>